<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @message_group, partial: "card", as: :message_group %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "message_groups/message_group_messages" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "message_groups/message_group_group_members" %>
  </div>
</div>
  <!-- Show Page Customization end -->
