<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Budgets

    <a data-toggle="collapse" href="#budget_type_budgets_new_form">
      Add budget line
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @budget_type.budgets.each do |budget_line| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to budget_line, budget_line %>

        <%= link_to budget_line, method: :delete, data: { confirm: "Do you really want to delete this budget_line" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="budget_type_budgets_new_form">
        <%= render partial: "budget_types/budget_type_budgets_new_form" %>
      </div>
    </div>

  </ul>
</div>
