<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @budget_type, partial: "card", as: :budget_type %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "budget_types/budget_type_budgets" %>
  </div>
</div>
