<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Tags

    <a data-toggle="collapse" href="#photo_tags_new_form">
      Add tag
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @photo.tags.each do |tag| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to tag, tag %>

        <%= link_to tag, method: :delete, data: { confirm: "Do you really want to delete this tag" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="photo_tags_new_form">
        <%= render partial: "photos/photo_tags_new_form" %>
      </div>
    </div>

  </ul>
</div>
