<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Itineraries

    <a data-toggle="collapse" href="#budget_line_itineraries_new_form">
      Add agenda item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @budget_line.itineraries.each do |agenda_item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to agenda_item, agenda_item %>

        <%= link_to agenda_item, method: :delete, data: { confirm: "Do you really want to delete this agenda_item" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="budget_line_itineraries_new_form">
        <%= render partial: "budget_lines/budget_line_itineraries_new_form" %>
      </div>
    </div>

  </ul>
</div>
